@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f5f5f5;
}

a {
  text-decoration: none;
}

/* Utility Styles */

.button-primary {
  padding: 0.75rem 1rem;
  background: rgb(50, 50, 245);
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  width: 100%;
  text-decoration-style: none;
}

.button-primary:hover {
  background: 	#00b8ff;
  cursor: pointer;
}

.button-secondary {
  padding: 0.75rem 1rem;
  background: 	#00b8ff;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  width: 100%;
  text-decoration: none;
  margin-bottom: 5px;
}

.button-secondary:hover {
  background: 	#72b8d3;
  cursor: pointer;
}

.button-delete {
  padding: 0.75rem 1rem;
  background: 	#d600ff;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  width: 100%;
}

.button-primary:hover {
  cursor: pointer;
}

.header-2 {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
  font-weight: 100;
}

/* Rows and columns */

.row {
  display: flex;
  justify-content: space-between
}

.column {
  display: flex;
}

/* NAV styles */

nav {
  display: flex;
  color: #ffffff;
  background: rgb(50, 50, 245);
}

nav li a {
  text-decoration: none;
  color: #ffffff
}

nav .logo {
  padding: 1.2rem;
  flex: 2;
  font-size: 1.5rem;
  position: sticky;
}

nav .container {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  align-content: center;
}

nav .container li {
  padding: 1.3rem;
  margin-right: 1.5rem;
  font-size: 1.25rem;
}

nav .container li:hover {
  color: dodgerblue;
}

/* HEADER */

.header {
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  height: 200px;
}

.header .container {
  flex: 1;
  font-size: 1.2rem;
  border-bottom: solid 1px blue;
  padding: 1.25rem;
  width: 800px;
}

.header h2 {
  font-weight: 100;
}

/* BOOKS */

#book-search {
  padding: 0.75rem;
  width: 300px;
  border: solid 1px #00b8ff;
  border-radius: 5px;
}


.books {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 1.25rem;
}

.books .container {
  width: 1000px;
}

/* BOOKS TABLE */

table {
  background: #ebebeb;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
}

table, tr, td {
  width: 100%;
  text-decoration: none;
}

td:active {
  text-decoration: none;
}

.book-links {
  text-decoration: none;
  color: rgb(50, 50, 245);
  
}

table tr, table td {
  border-top: blue 1px solid;
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
}

/* Pagination */

.pagination {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.pagination ul {
  display: flex;
  list-style: none;
}

.page-item a {
  margin-left: 5px;
  padding: 7px 10px;
  background: #00b8ff;
  border-radius: 4px;
  color: #ffffff;
  
}

/* Form Container */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
}

.form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
  font-size: 1.5rem;
}

.form-field input, .form-field select {
  margin-left: 0.5rem;
  width: 20rem
}

/* About page styles */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.about-me-info {
  list-style-type: none;
  margin-top: 2rem;
}

.about-me-info li {
  margin: 0.5rem 0.75rem;
}

